#top
  %section.heading
    = image_tag 'web_pc/header_logo'
    = image_tag 'web_pc/header_copy'

  %section.post-actions
    .tsukutte-action
      = image_tag 'web_pc/icon_hoshiina', class: "icon"
      .tsukutte-button
        %p ホシイナーはこちら！
        = image_tag 'web_pc/btn_hoshiina'

    .tsukuru-action
      = image_tag 'web_pc/icon_tsukurun', class: "icon"
      .tsukuru-button
        %p ツクルンはこちら！
        = image_tag 'web_pc/btn_tsukurun'
