%header
  .terms-and-official
    .terms
      = link_to "http://about.tsuktte.com/terms/", class: "terms-and-official-link" do
        = image_tag "web_pc/text_agreement_off"
        = image_tag "web_pc/text_agreement_on", class: "active"

    .official
      = link_to "https://about.tsuktte.com/", class: "terms-and-official-link" do
        = image_tag "web_pc/text_official_off"
        = image_tag "web_pc/text_official_on", class: "active"